<div class="m-2">
  <h1>{{ poll?.name }}</h1>
  <div class="field">
        <span class="p-float-label">
            <input id="voter-name"
                   class="w-full"
                   type="text"
                   [(ngModel)]="vote.name"
                   required="true"
                   pInputText>
            <label for="voter-name">Name</label>
        </span>
  </div>
  <div class="field-checkbox">
    <p-checkbox id="anonymous"
                [binary]="true"
                [(ngModel)]="vote.anonymously"
                inputId="anonymous"></p-checkbox>
    <label for="anonymous">Vote anonymously</label>
  </div>
  <h5>Options</h5>
  <div *ngFor="let option of poll?.options; index as i"
       class="field-radiobutton">
    <p-radioButton id="option-{{i}}"
                   name="city"
                   [(ngModel)]="selectedPoll"
                   (ngModelChange)="addVoteOption($event)"
                   [value]="option"
                   [label]="option.option.toString()"
                   inputId="city1"></p-radioButton>
  </div>
  <div class="flex p-2">
    <button pButton
            pRipple
            (click)="save()"
            type="button"
            label="Send"
            class="p-button-rounded p-button-success"></button>
  </div>
  <p>{{ vote | json }}</p>
</div>
